

body {
    background: linear-gradient(#F5F7FA, #B8C6DB);
}

.poo {
    text-align: center;
    background-color: #B2D9DB;
    border-radius: 5px;
    width: 700px;
    height: 500px;
    margin: 5px auto;
    padding: 15px;

    /* height: 600px; */
}

.btn {
    background-color: #1D3557;
}


.form-body {
    text-align: center;
    padding: 5px 10px;
}

.form__label {
    margin-right: 10px;
    width: 40%
}

.footer {
    text-align: center;
    margin: 0;
}

.form_input {
    width: 60%;
    margin-left: 15px;
}


.text {
    color: white;
    text-align: center;
}

input {
    width: 250px;
    height: 25px;
}