body {

    background: #f1faee
}


.text {
    color: black;
}


.container {
    width: 1400px;
    height: 500px;
    background: #f1faee;
}

.text2 {
    position: relative;
    top: 100px;
}


button {
    background-color: #1D3557;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    top: 250px;
    left: 600px;
}