* {
	font-family: 'Rubik', sans-serif;
}

.navbar {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin: 10px 20px 10px 20px;
}

.navbar-sub {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin: 10px;
	gap: 30px;
	align-items: center;
}

.title {
	font-weight: 800;
	font-size: 1.5em;
}